body{
	background: linear-gradient(to right ,#68aef3, rgb(89, 89, 199));

}
.details{
    width:400px;
    margin-left: 300px;
    margin-top: -200px;
    text-align: center;
}
a{
    color:rgb(247, 187, 187);
    text-decoration: none;
}
a:hover{
    color:rgb(255, 0, 0);
}

